* {
    margin: 0;
}

.navbar {
    position: sticky;
    top: 0;
    background-color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar img {
    max-width: 400px;
}
ul a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 28px;
    text-decoration: none;
}
ul a:hover {
    background-color: #182b49;
    color: white;
}

.S1 {
    width: 100%;
    display: inline-block;
    background-color: #F5F0E6;
    scroll-margin-top: 144px;
}
.S1 p {
    font-size: 28px;
    margin: auto;
    width: 98%;
}
.S2 {
    width: 100%;
    display: inline-block;
    background-image: url("https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg");
    color: white;
    scroll-margin-top: 144px;
}
.S2 p {
    font-size: 28px;
}

.S3 {
    display: inline-block;
    background-color: #F5F0E6;
    scroll-margin-top: 144px;
}
.S3grid {
    display: grid;
    gap: 25px;
    font-size: 28px;
    padding: 25px 25px;
}
.box1 {
    grid-row: 1;
    grid-column: 1;
    padding: 25px 25px;
    text-align: center;
    background-color: #182b49;
    color: white;
    max-height: 500px;
    overflow: scroll;
}
.box2 {
    grid-row: 1;
    grid-column: 2;
    padding: 25px 25px;
    text-align: center;
    background-color: #182b49;
    color: white;
    max-height: 500px;
    overflow: scroll;
}
.box3 {
    grid-row: 1;
    grid-column: 3;
    padding: 25px 25px;
    text-align: center;
    background-color: #182b49;
    color: white;
    max-height: 500px;
    overflow: scroll;
}
.box4 {
    grid-row: 1;
    grid-column: 4;
    padding: 25px 25px;
    text-align: center;
    background-color: #182b49;
    color: white;
    max-height: 500px;
    overflow: scroll;
}